.bg-black{
    background-color: #091815;
}
.text-decoration{
    text-decoration: none;
}
.top-secondary-navbar{
font-size: 12px;
letter-spacing: 0.05cm;
}
.top-primary-navbar{
    justify-content: space-between;
} 
.btn:focus{
    outline: 0;
    box-shadow: 0;
}
.main-logo a img{
width: 300px;

}
.side-menu a i{
    font-size: 20px;
}
