.bg-black{
    background-color: #091815;
}
.text-decoration{
    text-decoration: none;
}
.letter-spacing-1{
    letter-spacing: .1em;
}
.fs-7{
    font-size: 15px;
}
.top-secondary-navbar{
font-size: 12px;
letter-spacing: .2em;
}
.top-primary-navbar{
    justify-content: space-between;
} 
.btn:focus{
    outline: 0;
    box-shadow: 0;
}

.side-menu a i{
    font-size: 20px;
}
